@import url('https://fonts.googleapis.com/css2?family=Lato:wght@100;300;400;700;900&family=Poppins:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;1,500&display=swap');

body {
  background-color: white;
  margin: 0;
  font-family: 'Poppins', sans-serif;
}

.main {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  gap: 5em;
}

h1 {
  margin-left: 0.5em;
}

.scores {
  display: flex;
  flex-direction: column;
  margin-left: 5em;
}

.title {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 2em;
}

.title button,
.form button {
  border: 2px solid black;
  background-color: white;
  box-shadow: 2px 2px 2px black;
  padding: 0.2em 0.7em;
  font-family: 'Poppins', sans-serif;
  cursor: pointer;
}

.title h2 {
  font-weight: 500;
  font-size: 1.7em;
}

.form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 20em;
  height: 10em;
}

input[type=text] {
  width: 13em;
  border: 2px solid black;
  padding: 0.2em 0.7em;
  margin-bottom: 1em;
  box-shadow: 2px 2px 2px black;
  font-family: 'Poppins', sans-serif;
}

.form button {
  align-self: flex-end;
  margin-right: 4.5em;
}

.allscores {
  display: flex;
  flex-direction: column;
  border: 1px solid black;
}

.scoreItem {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-left: -2.51em;
  width: 20em;
  height: 100%;
  height: 2.1em;
}

.scoreItem:nth-child(odd) {
  background-color: #f2f2f2;
}

.scoreItem p {
  margin-left: 1em;
}
