@import url('https://fonts.googleapis.com/css2?family=Lato:wght@100;300;400;700;900&family=Poppins:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;1,500&display=swap');

body {
  margin: 0;
  font-family: 'Poppins', sans-serif;
  background: #eee;
  height: 100vh;
  color: #000000b3;
}

.main {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  gap: 5em;
}

h1 {
  margin-left: 0.5em;
  text-shadow: 5px 5px 8px rgb(0, 0, 0, 0.2);
}

.scores {
  display: flex;
  flex-direction: column;
  margin-left: 5em;
}

.title {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 2em;
  background-color: #d926d6;
  border-radius: 0.5em 0.5em 0 0;
}

.title button {
  background-color: white;
  color: #d926d6;
  border: none;
  width: 5em;
  padding: 0.5em;
  border-radius: 1em;
  font-family: 'Poppins', sans-serif;
  font-weight: 500;
  cursor: pointer;
}

.title h2 {
  font-weight: 500;
  font-size: 1.6em;
  color: white;
}

.form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 15em;
  width: 20em;
  background: white;
  border-radius: 10px;
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.2);
}

input[type=text],
input[type=number] {
  width: 13em;
  padding: 0.2em 0.7em;
  font-family: 'Poppins', sans-serif;
  background: none;
  border: none;
  outline: none;
}

.form span {
  margin: 0 3em 1em 1.8em;
  width: 10em;
  border: 1px solid #d926d67d;
}

.form button {
  background-color: #d926d6;
  color: white;
  border: none;
  width: 8em;
  padding: 0.5em;
  margin-right: 1em;
  border-radius: 1em;
  font-family: 'Poppins', sans-serif;
  cursor: pointer;
}

.h2-form h2 {
  padding-bottom: 0.5em;
  width: 100%;
  color: #000000b3;
  font-size: 1.4em;
}

.h2-form {
  margin: -1em 0 1em 0;
}

.results {
  border-radius: 0.5em 0.5em 0 0;
  border: none;
  width: 20em;
  background: white;
  box-shadow: 5px 5px 10px 5px rgba(0, 0, 0, 0.2);
}

table {
  font-family: arial, sans-serif;
  border-collapse: collapse;
  width: 100%;
  border: none;
}

td,
th,
tr {
  text-align: left;
  padding: 0.5em;
  width: 100%;
}

tr:nth-child(odd) {
  background-color: #d926d644;
}
